---
import Layout from "../layouts/Layout.astro";

import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
import ShowSponsors from "../components/ShowSponsors.astro";
import ShowCollaborators from "../components/ShowCollaborators.astro";
import ShowStart from "../components/ShowStart.astro";

---

<Layout title="HackUDC — Accept the Challenge">
  <main class="relative min-h-screen overflow-hidden">
   
    <ShowStart />
    <ShowSponsors />
    <ShowCollaborators />
    <FAQ />

  </main>

  <Footer />

</Layout>
