---
const questions = [
  {
    title: "When does HackUDC take place?",
    description:
      "HackUDC will take place from February 27th to March 1st, 2026. The opening ceremony will be on Friday afternoon, February 27th. The event concludes on Sunday with an awards ceremony during the closing act.",
  },
  {
    title: "Where does HackUDC take place?",
    description:
      "The event will take place at the Faculty of Computer Science (FIC) of the A Coruña University (UDC), on the Elviña Campus in A Coruña.",
  },
  {
    title: "What does HackUDC include?",
    description:
      "HackUDC is completely free for participants. WiFi and workspaces are provided, as well as breakfasts, lunches, dinners, and snacks throughout the event. Don't forget to include any dietary restrictions when registering."
  },
  {
    title: "Where can I rest?",
    description:
      "If you don't have accommodation, rest areas will be available in classrooms. However, keep in mind that the Faculty is not a hotel, and these areas are meant to take quick naps so that you can get back to hacking.",
  },
  {
    title: "Will I be able to take a shower during the event?",
    description:
      "Of course! The faculty will be open throughout the event, and there will be designated times for you to take a shower and stay fresh.",
  },
  {
    title: "What can I create?",
    description:
      "You can create any project related to technology. We have no restrictions on the topic. The only requirement is that the project developed during the hackathon is published under a free license. Some examples could be web applications, mobile applications, hardware projects, games, APIs...",
  },
  {
    title: "What do I need to bring?",
    description:
      "For admission, you will need to verify your identity with a valid government-issued ID. Other common things to bring to the hackathon are: laptop and charger (don't forget the charger!), comfortable clothing, and eagerness to create something awesome! If you have any specific hardware you want to use, feel free to bring it along.",
  },
  {
    title: "Who can participate?",
    description:
      "Students or recent graduates (up to 1 year after graduation) from universities, vocational training programs, high schools, or other educational backgrounds are all welcome."
  },
  {
    title: "How can I register?",
      description:
        "Registration is not yet open, but you can join the waitlist on our landing page to be the first to know when it becomes available. We'll also announce it on our website and social media channels once registration opens.",
    //   "Registration is now open! To register, you will need to submit your application through the registration form found in the landing page of this website. We will send you a confirmation once your application is accepted.",
  },
  {
    title: "What if I'm not a student?",
    description:
      "You can still participate as a mentor to enjoy the event and help participants with their projects. Mentor registration will open later.",
  },
  {
    title: "What if I have no coding experience?",
    description:
      "HackUDC is a place to learn, so no prior programming experience is required. There are many other areas where you can contribute, such as design, testing, project management, and more.",
  },
  {
    title: "What if I don't have a team?",
    description:
      "Part of the fun of a hackathon is meeting new people. We will have a team-building activity at the beginning of the event so that everyone can meet and form teams.",
  },
  {
    title: "What is the maximum team size?",
    description: "Teams can have up to 4 hackers.",
  },
  {
    title: "Can I switch teams during the event?",
    description:
      "Yes! Only the final submission counts, so make sure your project is submitted correctly. Submission instructions will be provided during the event.",
  },
  {
    title: "About ECTS credits",
    description:
      "If you are a UDC student, you can earn 3 ECTS credits by participating in HackUDC. Attendance will be monitored during the event. UDC students interested in receiving credits must request recognition through the VEE. More detailed information will be provided before, during, and after the event.",
  },
  {
    title: "Will there be mentors?",
    description:
      "Yes. Mentors will be available throughout the event to answer any questions you may have. If you would like to participate as a mentor, you can fill out the form linked below the participant registration. For any questions, email us at hackudc@gpul.org!",
  },
];
---

<h1
  id="sponsor-info"
  class="uppercase text-center md:text-5xl tracking-[0.3em] text-amber-300 mb-10 mt-20"
>
  FAQs
</h1>

<h2
  id="sponsor-info"
  class="uppercase text-center md:text-3xl tracking-[0.3em] text-amber-300"
>
  Have questions? We've got answers.
</h2>
<h3 class="mt-2 text-center text-gray-300 sm:text-xl md:text-2xl">
  The most common questions grouped in our FAQ
</h3>
<div class="m-20 grid grid-cols-1 gap-x-14 md:grid-cols-2">
  <div>
    {
      questions.map((q, i) => {
        if (i > questions.length / 2) return null;
        return (
          <details class="my-4">
            <summary class="cursor-pointer text-xl">{q.title}</summary>
            <p class="mt-1">{q.description}</p>
          </details>
        );
      })
    }
  </div>
  <div>
    {
      questions.map((q, i) => {
        if (i < questions.length / 2 + 1) return null;
        return (
          <details class="my-4">
            <summary class="cursor-pointer text-xl">{q.title}</summary>
            <p class="mt-1">{q.description}</p>
          </details>
        );
      })
    }
  </div>
</div>
<h3
  class="mt-8 mb-20 px-10 text-center text-amber-300 sm:px-32 sm:text-lg md:px-52 md:text-xl"
>
  If you have any other questions, feel free to contact us via social media or at <a href="mailto:hackudc@gpul.org" class="underline">hackudc@gpul.org</a>.
</h3>
