---

---

<section class="w-full max-w-5xl mx-auto mb-8">
  <div class="grid grid-cols-2 md:grid-cols-4 gap-6 sm:gap-8 md:gap-10">
    <div class="text-center group">
      <div
        class="text-5xl sm:text-5xl md:text-6xl lg:text-7xl font-black text-amber-300 mb-2 sm:mb-3 group-hover:scale-110 transition-transform duration-300"
      >
        +400
      </div>
      <div
        class="text-xs sm:text-sm md:text-base text-amber-100 tracking-[0.2em] uppercase group-hover:text-amber-200 transition-colors"
      >
        Participants
      </div>
    </div>

    <div class="text-center group">
      <div
        class="text-5xl sm:text-5xl md:text-6xl lg:text-7xl font-black text-amber-300 mb-2 sm:mb-3 group-hover:scale-110 transition-transform duration-300"
      >
        36H
      </div>
      <div
        class="text-xs sm:text-sm md:text-base text-amber-100 tracking-[0.2em] uppercase group-hover:text-amber-200 transition-colors"
      >
        Of Hacking
      </div>
    </div>

    <div class="text-center group">
      <div
        class="text-5xl sm:text-5xl md:text-6xl lg:text-7xl font-black text-amber-300 mb-2 sm:mb-3 group-hover:scale-110 transition-transform duration-300"
      >
        +3K€
      </div>
      <div
        class="text-xs sm:text-sm md:text-base text-amber-100 tracking-[0.2em] uppercase group-hover:text-amber-200 transition-colors"
      >
        in prizes
      </div>
    </div>

    <div class="text-center group">
      <div
        class="text-5xl sm:text-5xl md:text-6xl lg:text-7xl font-black text-amber-300 mb-2 sm:mb-3 group-hover:scale-110 transition-transform duration-300"
      >
        100%
      </div>
      <div
        class="text-xs sm:text-sm md:text-base text-amber-100 tracking-[0.2em] uppercase group-hover:text-amber-200 transition-colors"
      >
        Open source
      </div>
    </div>
  </div>
</section>
