---
import { Image } from "astro:assets";

//Images:
import logoAMTEGA from "../assets/collaborators/amtega.svg";
import logoFIC from "../assets/collaborators/fic.svg";
import logoUDC from "../assets/collaborators/udc.svg";
---

<section class="p-10">
  <h1
    id="sponsor-info"
    class="text-3xl sm:text-4xl md:text-5xl font-black uppercase text-center tracking-[0.25em] text-amber-300 drop-shadow-[0_4px_0_#7c3f00] mb-4"
  >
    Collaborators
  </h1>

      <div
        class="mt-15 grid grid-cols-1 gap-8 px-3 sm:grid-cols-2 md:grid-cols-3"
      >
        <a href="https://udc.gal">
          <div
            class="flex h-32 flex-col justify-center overflow-hidden rounded-lg p-2 text-center"
          >
            <Image
              src={logoUDC}
              alt="Logo UDC"
              class="h-full w-full object-contain"
            />
          </div>
        </a>
        <a href="https://fic.udc.es">
          <div
            class="flex h-32 flex-col justify-center overflow-hidden rounded-lg p-2 text-center"
          >
            <Image
              src={logoFIC}
              alt="Logo FIC"
              class="h-full w-full object-contain"
            />
          </div>
        </a>
        <a href="https://amtega.xunta.gal/">
          <div
            class="flex h-32 flex-col justify-center overflow-hidden rounded-lg p-2 text-center"
          >
            <Image
              src={logoAMTEGA}
              alt="Logo AMTEGA"
              class="h-full w-full object-contain"
            />
          </div>
        </a>
      </div>
    </section>