---
// Images:
---

<section class="mt-40 flex flex-col items-center justify-center h-full">
  <h1
    id="sponsor-info"
    class="uppercase text-center md:text-6xl tracking-[0.3em] text-amber-300"
  >
    Sponsors
  </h1>
  <h3
    id="sponsor-info"
    class="mt-10 text-center md:text-xl tracking-[0.3em] text-amber-300"
  >
    This wouldn't be possible without them
  </h3>

  <h3
    id="sponsors"
    class="mt-8 text-center font-mono text-xl md:text-2xl text-amber-300"
  >
    root
  </h3>
  <a href="#">
    <div
      class="mx-auto mt-4 flex h-60 w-[400px] max-w-full flex-col justify-center overflow-hidden
           text-center text-xl text-amber-300
           rounded-lg bg-amber-300/20 backdrop-blur-sm p-2 border-2 border-white
           hover:scale-110 hover:bg-yellow-300 hover:text-black
           hover:shadow-[0_0_20px_4px_rgba(255,255,255,0.8)]
           transition-all duration-300"
    >
      COMING SOON...
    </div>
  </a>

  <h3 class="mt-8 text-center font-mono text-xl md:text-2xl text-amber-300">
    admin
  </h3>
  <div class="mt-4 grid grid-cols-1 gap-8 px-3 sm:grid-cols-2">
    <a href="#">
      <div
        class="mx-auto mt-4 flex h-48 w-[320px] max-w-full flex-col justify-center overflow-hidden
           text-center text-xl text-amber-300
           rounded-lg bg-amber-300/20 backdrop-blur-sm p-2 border-2 border-white
           hover:scale-110 hover:bg-yellow-300 hover:text-black
           hover:shadow-[0_0_20px_4px_rgba(255,255,255,0.8)]
           transition-all duration-300"
      >
        COMING SOON...
      </div>
    </a><a href="#">
      <div
        class="mx-auto mt-4 flex h-48 w-[320px] max-w-full flex-col justify-center overflow-hidden
           text-center text-xl text-amber-300
           rounded-lg bg-amber-300/20 backdrop-blur-sm p-2 border-2 border-white
           hover:scale-110 hover:bg-yellow-300 hover:text-black
           hover:shadow-[0_0_20px_4px_rgba(255,255,255,0.8)]
           transition-all duration-300"
      >
        COMING SOON...
      </div>
    </a><a href="#">
      <div
        class="mx-auto mt-4 flex h-48 w-[320px] max-w-full flex-col justify-center overflow-hidden
           text-center text-xl text-amber-300
           rounded-lg bg-amber-300/20 backdrop-blur-sm p-2 border-2 border-white
           hover:scale-110 hover:bg-yellow-300 hover:text-black
           hover:shadow-[0_0_20px_4px_rgba(255,255,255,0.8)]
           transition-all duration-300"
      >
        COMING SOON...
      </div>
    </a><a href="#">
      <div
        class="mx-auto mt-4 flex h-48 w-[320px] max-w-full flex-col justify-center overflow-hidden
           text-center text-xl text-amber-300
           rounded-lg bg-amber-300/20 backdrop-blur-sm p-2 border-2 border-white
           hover:scale-110 hover:bg-yellow-300 hover:text-black
           hover:shadow-[0_0_20px_4px_rgba(255,255,255,0.8)]
           transition-all duration-300"
      >
        COMING SOON...
      </div>
    </a>
  </div>
  <h3 class="mt-8 text-center font-mono text-xl md:text-2xl text-amber-300">
    user
  </h3>
  <div class="mt-4 grid grid-cols-1 gap-8 px-3 sm:grid-cols-3">
    <a href="#">
      <div
        class="mx-auto mt-4 flex h-36 w-[240px]
          max-w-full flex-col justify-center overflow-hidden
           text-center text-xl text-amber-300
           rounded-lg bg-amber-300/20 backdrop-blur-sm p-2 border-2 border-white
           hover:scale-110 hover:bg-yellow-300 hover:text-black
           hover:shadow-[0_0_20px_4px_rgba(255,255,255,0.8)]
           transition-all duration-300"
      >
        COMING SOON...
      </div>
    </a>
    <a href="#">
      <div
        class="mx-auto mt-4 flex h-36 w-[240px] max-w-full flex-col justify-center overflow-hidden
           text-center text-xl text-amber-300
           rounded-lg bg-amber-300/20 backdrop-blur-sm p-2 border-2 border-white
           hover:scale-110 hover:bg-yellow-300 hover:text-black
           hover:shadow-[0_0_20px_4px_rgba(255,255,255,0.8)]
           transition-all duration-300"
      >
        COMING SOON...
      </div>
    </a>
    <a href="#">
      <div
        class="mx-auto mt-4 flex h-36 w-[240px] max-w-full flex-col justify-center overflow-hidden
           text-center text-xl text-amber-300
           rounded-lg bg-amber-300/20 backdrop-blur-sm p-2 border-2 border-white
           hover:scale-110 hover:bg-yellow-300 hover:text-black
           hover:shadow-[0_0_20px_4px_rgba(255,255,255,0.8)]
           transition-all duration-300"
      >
        COMING SOON...
      </div>
    </a>
    <a href="#">
      <div
        class="mx-auto mt-4 flex h-36 w-[240px] max-w-full flex-col justify-center overflow-hidden
           text-center text-xl text-amber-300
           rounded-lg bg-amber-300/20 backdrop-blur-sm p-2 border-2 border-white
           hover:scale-110 hover:bg-yellow-300 hover:text-black
           hover:shadow-[0_0_20px_4px_rgba(255,255,255,0.8)]
           transition-all duration-300"
      >
        COMING SOON...
      </div>
    </a><a href="#">
      <div
        class="mx-auto mt-4 flex h-36 w-[240px] max-w-full flex-col justify-center overflow-hidden
           text-center text-xl text-amber-300
           rounded-lg bg-amber-300/20 backdrop-blur-sm p-2 border-2 border-white
           hover:scale-110 hover:bg-yellow-300 hover:text-black
           hover:shadow-[0_0_20px_4px_rgba(255,255,255,0.8)]
           transition-all duration-300"
      >
        COMING SOON...
      </div>
    </a><a href="#">
      <div
        class="mx-auto mt-4 flex h-36 w-[240px] max-w-full flex-col justify-center overflow-hidden
           text-center text-xl text-amber-300
           rounded-lg bg-amber-300/20 backdrop-blur-sm p-2 border-2 border-white
           hover:scale-110 hover:bg-yellow-300 hover:text-black
           hover:shadow-[0_0_20px_4px_rgba(255,255,255,0.8)]
           transition-all duration-300"
      >
        COMING SOON...
      </div>
    </a>
  </div>
</section>
